:root {
  --n7-black: #0d0c0c;
  --n7-white: #fdfdfd;
  --n7-pgrey: #d3d3d3;
  --n7-mgrey: #a5a5a5;
  --n7-dgrey: #222020;
  --n7-muted: #5c5c5c;
  --n7-red: #e42f45;
}

.bg-ellipse-1 {
  border: 400px solid;
  position: fixed;
  bottom: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  border-image-source: conic-gradient(
    from 180deg at 50% 50%,
    #e42f45 -1.95deg,
    #0d0c0c 45deg,
    #0d0c0c 87.71deg,
    #0d0c0c 302.99deg,
    #e42f45 358.05deg,
    #0d0c0c 405deg
  );
  background: rgba(13, 12, 12, 0.66);
  filter: blur(100px);
  opacity: 0.6;
}

html,
body,
p,
select,
button {
  font-family: stratos-lights, sans-serif;
  font-weight: 300;
  font-style: normal;
}

a {
  color: var(--n7-red);
  font-size: 1.05rem;
  text-decoration: none;
  transition: all ease 0.4s;
}

a:hover {
  text-decoration: underline;
  transform: scale(1.01);
}

.intro {
  font-size: 1.3rem;
  color: var(--n7-pgrey);
}

.container,
.container-xl {
  max-width: 1140px;
}

body {
  background: var(--n7-black) url("images/stardust.png") repeat;
  color: var(--n7-white);
}

.hfluid {
  border-bottom: 2px solid var(--n7-dgrey);
}

h1 {
  font-family: "Zen Dots", monospace;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--n7-white);
}

.title {
  text-decoration: none;
}

.red {
  color: var(--n7-red);
}

h3 {
  font-family: stratos, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--n7-muted);
  font-style: italic;
  text-align: right;
  letter-spacing: 0.0325rem;
}

.options {
  max-width: 1050px;
  z-index: 10;
  position: relative;
}

select {
  color: var(--n7-black);
}

.normandy {
  opacity: 0.7;
}

.options p,
.initial {
  margin-bottom: 0;
}

.initial {
  color: var(--n7-muted);
  padding: 4rem 0;
  text-align: center;
  font-style: italic;
}

.opt-container {
  background-color: var(--n7-white);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  column-gap: 0.8rem;
  align-items: center;
}

.opt-container p {
  color: var(--n7-black);
}

.opt-container p,
.opt-container select,
.para-select button {
  font-size: 1.2rem;
}

.btns-container {
  column-gap: calc(var(--bs-gutter-x) * 0.5);
  padding-right: 0;
}

.content-row {
  margin-top: -85px;
}

/* main {
  display: grid;
  grid-template-columns: 0.2fr 350px 1fr 1fr 0.2fr;
  grid-template-rows: 7em 1fr;
  gap: 30px 20px;
}
.info {
  grid-area: 2 / 2 / 3 / 3;
}
#para-container {
  grid-area: 2 / 3 / 3 / 5;
}
.settings {
  grid-area: 1 / 3 / 2 / 5;
} */

/* .para-select {
  display: flex;
} */
/* 
.btns-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 15px;
} */

/* .info {
  color: #fff;
  padding: 0 10% 0 6%;
} */

/* hr {
  width: 55%;
  border-color: var(--n7-red);
  background-color: var(--n7-red);
  height: 1px;
  margin: -5px auto 25px 0;
  text-align: left;
}

.credit {
  color: rgb(170, 170, 170);
  font-size: 0.7rem;
}
.credit a {
  color: rgb(216, 216, 216);
}

.built-by {
  visibility: hidden;
  color: rgb(184, 184, 184);
  font-variant: small-caps;
  letter-spacing: 1px;
  margin: 0;
}

.built-by a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}

.built-by a:hover {
  cursor: pointer;
  text-decoration: none;
}

.settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}

 */

.select {
  position: relative;
  display: inline-block;
}

#input-box {
  width: 66px;
  height: 57px;
  font-size: 1.4rem;
  text-align: center;
  column-gap: 0.8rem;
  padding: 0;
  margin: 0;
}

#type-select {
  font-size: 1.3em;
  height: 57px;
  display: inline-block;
  cursor: pointer;
  padding-left: 28px;
  padding-right: 50px;
  outline: 0;
  border-radius: 0px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* ensures the increment/decrement arrows always display */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

#type-select::-ms-expand {
  display: none;
}
#type-select:hover,
#type-select:focus,
#input-box:active,
#input-box:focus,
#input-box:hover {
  background: var(--n7-pgrey);
  border: none;
  outline: none;
  border: 2px solid var(--n7-black);
  border-radius: 0 !important;
}

#type-select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select_arrow {
  position: absolute;
  top: 25px;
  right: 20px;
  pointer-events: none;
  border-style: solid;
  border-width: 9px 6px 0px 6px;
  border-color: #7b7b7b transparent transparent transparent;
}

button {
  letter-spacing: 0.0325rem;
  font-weight: 600;
  /* height: 56px;
  margin-left: 10px;
  padding: 0 20px; */
  border: 0;
  border-radius: 0;
}

/* .generate-btn:hover {
  cursor: pointer;
} */

select,
input {
  border: 2px solid var(--n7-pgrey);
}

.generate-btn {
  background: var(--n7-red);
  color: var(--n7-black);
  width: 60%;
  border: 2px solid var(--n7-red);
  transition: all ease 0.3s;
}

.generate-btn:hover {
  border: 2px solid #ff485a;
  box-shadow: 0 0 12px var(--n7-red);
  transform: scale(1.02);
}

.copy-btn {
  width: 40%;
  background-color: var(--n7-dgrey);
  color: var(--n7-white);
  border-width: 2px;
  border-style: solid;
  border-color: hsl(0deg 0% 99% / 10%);
  transition: all ease 0.3s;
}

.copy-btn:hover {
  cursor: pointer;
  /* background-color: rgba(39, 43, 47, 0.6); */
  border-color: hsl(0deg 0% 99% / 20%);
  box-shadow: 0 0 12px hsl(353 77% 61% / 30%);
  /* transform: translateY(-5px); */
  transform: scale(1.02);
}

#para-container {
  background: hsl(0deg 0% 0% / 38%);
  padding: 6em 8em 4em;
  line-height: 1.5;
  font-size: 1.13rem;
  border: 2px solid var(--n7-dgrey);
}

.quote-paras {
  font-family: stratos-lights, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.53;
}

.copyright {
  color: var(--n7-muted);
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0;
  line-height: 1.4;
}
/* p {
  font-size: 1.05rem;
  font-weight: 400;
  line-height: 1.5;
} */

/* -- Media Queries -- */
/* Desktop */
@media only screen and (min-width: 769px) {
  .opt-container {
    justify-content: center;
  }
}

/* iPad regular */
@media only screen and (max-width: 768px) {
  #hero .row {
    flex-direction: column-reverse;
    margin-bottom: 1.5rem;
  }
  #hero .col {
    flex: 0 0 auto;
    width: 75%;
  }
  h1,
  h3,
  .intro {
    text-align: center;
  }
  .btns-container {
    padding-right: 0;
    padding-left: 5px;
  }
  .options {
    max-width: 720px;
  }
  .opt-container p:first-child {
    display: none;
  }
  .btns-container {
    column-gap: 5px;
  }
  #para-container {
    padding: 6rem 2rem 1rem;
  }
  .quote-paras {
    font-size: 1.3rem;
    line-height: 1.5;
  }
}

/* iPad Pro (1024) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #para-container {
    padding: 7.3rem 4rem 2rem;
  }
  .quote-paras {
    font-size: 1.3rem;
    line-height: 1.4;
  }
  .intro {
    font-size: 1.2rem;
  }
  .options {
    max-width: 95%;
  }
  .btns-container {
    column-gap: 7px;
    padding-right: 0;
    padding-left: 8px;
  }
  h1,
  h3 {
    text-align: center;
  }
  .opt-container p:first-child {
    display: none;
  }
}

/* Mobile */
@media only screen and (max-width: 420px) {
  h1 {
    font-size: 3.2rem;
    text-align: left;
    margin-bottom: 0;
  }
  h3 {
    letter-spacing: 0;
    font-size: 0.9rem;
    text-align: left;
    letter-spacing: 0.035rem;
  }
  .intro {
    font-size: 1.1rem;
    line-height: 1.4;
  }
  .initial {
    font-size: 0.9rem;
  }
  .content-row {
    margin-top: 0;
  }
  #para-container {
    padding: 0.5rem;
    border: 0;
  }
  .quote-paras {
    font-size: 1rem;
  }
  .content-row .col {
    padding: 0 !important;
  }
  .btns-container {
    padding: 0;
    column-gap: 5px;
    margin-top: 0.5rem;
  }
  .generate-btn,
  .copy-btn {
    padding: 1rem 0;
    width: 50%;
  }
  .opt-container p:first-child {
    display: none;
  }
  .opt-container p {
    line-height: 1.3;
  }
  #hero .row {
    flex-direction: column-reverse;
  }
  .normandy img {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 361px) and (max-width: 420px) {
  header .col-12 {
    padding: 0;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 2.9rem;
  }
  h3 {
    letter-spacing: 0;
    font-size: 0.89rem;
  }
  .container-fluid.hfluid {
    padding: 0;
  }
  .intro {
    font-size: 1.1rem;
    line-height: 1.4;
  }
  .content-row {
    margin-top: 0;
  }
  #para-container {
    padding: 1rem 10px 1px;
    border: 0;
  }
  .opt-container {
    column-gap: 0.4rem;
  }
  #input-box {
    width: 58px;
  }
  #type-select {
    padding-left: 20px;
    padding-right: 40px;
  }
  .select-arrow {
    right: 18px;
  }
  .opt-container p:nth-child(even) {
    font-size: 1rem;
  }
}
