:root {
  --dark-bluegrey: #1b1e21;
  --lighter-bluegrey: #272b2f;
  --red-highlight: #f73f3b;
}

html,
body,
p,
select,
button {
  font-family: "Rubik", sans-serif;
}

body {
  background: var(--dark-bluegrey) url("images/starfield.jpg") center
    center/cover no-repeat fixed;
  font-size: 15px;
}

h1 {
  font-family: "Zen Dots", monospace;
  font-size: 2.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

h2 {
  font-family: "Inconsolata", monospace;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4;
  padding-right: 20px;
}

main {
  display: grid;
  grid-template-columns: 0.3fr 350px 1fr 1fr 0.3fr;
  grid-template-rows: 100px 1fr;
  gap: 30px 20px;
}
.info {
  grid-area: 2 / 2 / 3 / 3;
}
#para-container {
  grid-area: 2 / 3 / 3 / 5;
}
.settings {
  grid-area: 1 / 3 / 2 / 5;
}

@media only screen and (max-width: 600px) {
  main {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 3%;
  }
  main .info {
    padding: 0;
  }
  main .settings {
    flex-flow: column;
    align-items: flex-start;
  }
  .para-select {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .btns-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-top: 15px;
  }
  .generate-btn {
    width: 70%;
    margin: 0;
  }
  main .copy-btn {
    width: 30%;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
  #type-select {
    font-size: 1.2em;
  }
  main #input-box {
    padding-left: 0;
  }
  #para-container {
    grid-area: 1;
  }
  .info h1 {
    line-height: 1.1;
    margin-bottom: 1.4rem;
  }
  .info h2 {
    line-height: 1.3;
    padding-right: 20%;
  }
  .info p {
    margin-bottom: 10px;
    line-height: 1.5;
  }
}

.info {
  color: #fff;
  padding: 0 10% 0 6%;
}

hr {
  width: 55%;
  border-color: var(--red-highlight);
  background-color: var(--red-highlight);
  height: 1px;
  margin: -5px auto 25px 0;
  text-align: left;
}

.credit {
  color: rgb(170, 170, 170);
  font-size: 0.7rem;
}
.credit a {
  color: rgb(216, 216, 216);
}

.built-by {
  color: rgb(184, 184, 184);
  font-variant: small-caps;
  letter-spacing: 1px;
  margin: 0;
}

.built-by a {
  text-decoration: underline;
}

.info-p {
  font-size: 0.9rem;
  text-align: justify;
  justify-content: left;
}

.settings {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  align-content: space-between;
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
}

#input-box {
  width: 50px;
  height: 50px;
  font-size: 1.8rem;
  color: var(--red-highlight);
  text-align: center;
  padding-left: 15px;
  margin-right: 10px;
}

#type-select {
  font-size: 1.6em;
  height: 56px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 0px;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#type-select::-ms-expand {
  display: none;
}
#type-select:hover,
#type-select:focus {
  color: #000000;
  background: #cccccc;
}
#type-select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select_arrow {
  position: absolute;
  top: 25px;
  right: 20px;
  pointer-events: none;
  border-style: solid;
  border-width: 9px 6px 0px 6px;
  border-color: #7b7b7b transparent transparent transparent;
}

button {
  letter-spacing: 0.0325rem;
  font-weight: 600;
  height: 56px;
  margin-left: 10px;
  padding: 0 20px;
  border: 0;
  border-radius: 0;
}

.generate-btn {
  min-width: 150px;
  background: transparent;
  color: var(--dark-bluegrey);
  transition: all 0.5s;
  position: relative;
}
.generate-btn:hover {
  cursor: pointer;
  color: var(--red-highlight);
  text-shadow: 1px 1px 3px black;
}
.generate-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--red-highlight);
  transition: all 0.3s;
}
.generate-btn:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.generate-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid var(--red-highlight);
  transform: scale(1.2, 1.2);
}
.generate-btn:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.generate-btn:hover {
  cursor: pointer;
}

.copy-btn {
  width: 120px;
  background-color: var(--lighter-bluegrey);
  color: white;
  text-shadow: 0 0 3px black;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all ease 0.5s;
}

.copy-btn:hover {
  cursor: pointer;
  background-color: rgba(39, 43, 47, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

#para-container {
  padding: 10px 30px;
  background-color: rgb(230 230 230 / 75%);
  color: #0e0e0e;
}

p {
  font-weight: 400;
  line-height: 1.6rem;
}
